/*default styling */
        * {
          margin: 0px;
          font-family: 'Lato', sans-serif;
          box-sizing: border-box;

        }

        html{
          position: relative;
          height: 100%;
          min-height: 100%;

          }

/* Styling the menu button */
       .menu-btn {
           position: absolute;
           z-index: 3;
           right: 35px;
           top: 35px;
           cursor: pointer;
           transition: all 0.5s ease-out;
       }

       /* Styling the hamburger lines */
       .menu-btn .btn-line {
           width: 30px;
           height: 5px;
           margin: 0 0 5px 0;
           background: black;
           transition: all 0.5s ease-out;
       }

       /* Adding tranform to the X */
       .menu-btn.close {
           transform: rotate(180deg);
       }

       /* Styling the three lines to make it an X */
       .menu-btn.close .btn-line:nth-child(1) {
           transform: rotate(45deg) translate(5px, 5px);
       }

       .menu-btn.close .btn-line:nth-child(2) {
           opacity: 0;
       }

       .menu-btn.close .btn-line:nth-child(3) {
           transform: rotate(-45deg) translate(10px, -7.5px);
       }

       /* Styling the position of the menu icon */
       .menu {
           position: fixed;
           top: 0;
           width: 100%;
           opacity: 0.9;
           visibility: hidden;
       }

       .menu ul {
           margin-top: 80px;
           display: block;
           padding: 14px 24px;
           text-decoration: none;
           font-size: 18px;
           list-style-type: none;
       }
       .menu ul li a {
         text-decoration: none;
       }

       .menu.show {
           visibility: visible;
           position: relative;
       }
        .nav-item{
          padding: 5px;
          font-size: 16px;
        }
       /* transition delay */
       .nav-item:nth-child(1) {
           transition-delay: 0.02s;
       }

       .nav-item:nth-child(2) {
           transition-delay: 0.04s;
       }

       .nav-item:nth-child(3) {
           transition-delay: 0.08s;
       }

       .nav-item:nth-child(4) {
           transition-delay: 0.16s;
       }

        /*mobile style */
        .title-section {
          color: #2F485A;
          padding-top: 10%;
          padding-left: 10%;
          font-size: 45px;
        }

        hr {
          margin: 35px 0px 50px 10%;
          width: 15%;
          border: none;
          color: #2F485A;
          height: 5px;
          background-color: #2f485a;
        }

        /*mobile common styles*/
        #projects, #skills, #contact{
          margin-top: 20%;
        }

        .projects, .skills, .contact{
          padding: 5%;
        }

        .intro-text p, .projects-text, .skills-text, .Contact-text{
          margin-left: 5%;
          font-size: 20px;
        }
        /* mobile intro section*/

        .bg-intro {
          margin-top: 80px;
          background-image: url('images/blue-mountain.jpg');
          background-repeat:no-repeat;
          background-size: cover;
          width: 100%;
          height: 800px;
          background-position-x: -50px;
        }

        .intro-text {
          top: 20%;
          height: 60%;
          position: relative;
          background-color: white;
          margin: auto;
          width: 80%;
          padding: 10px;
        }



/*------projects section--------*/


        /* project links*/
        .project-links{
          margin-top: 50%;
        }

        .projects-text{
          width:90%;
          position: absolute;
        }


        .card {
        	 position: relative;
        	 overflow: hidden;
        	 padding: 1rem;
           height: 400px;
        	 width: 100%;
           display: block;

        }

        .card:before {
         content: '';
	       position: absolute;
	       top: 0;
	       left: 0;
      	 width: 100%;
      	 height: 100%;
      	 background-size: cover;
         background-position: center;
      }

         .card:nth-child(1):before {
        	 background-image: url(./images/grey_phone.jpg);
        }

         .card:nth-child(2):before {
        	 background-image: url(./images/mockup_desktop.jpg);
        }
         .card:nth-child(3):before {
        	 background-image: url(./images/grey_keyboard.jpg);
        }
         .card:nth-child(4):before {
        	 background-image: url(./images/waterfalls.jpg);
        }
/*----------Skills section-------------*/

        /*background image skills*/

        .bg-skills{
          padding-top: 15%;
          left: 0;
          position: absolute;
          width: 100%;
          height: 800px;
          background-size: cover;
          background-position: center;
          filter: blur(1.5px);
        }
/*------------Contact section -----------*/

          /* contact text*/

          .contact{
            margin-top: 800px;
            position: relative;
          }

          .Contact-text{
            line-height: 40px;
          }

          .formTitle{
            color: #85878A;
            text-align: center;
            font-size: 30px;
            padding-bottom: 10%;
          }

          /* contact form */

          .bg-form{
            padding: 10% 0 5% 0;
            margin-top: 15%;
            position: relative;
            left: 0;
            right: 0;
            background-color: #191C21;
            font-size: 22px;
          }

          #form {
            align-items: center;
            position: relative;
            width: 100%;
            margin: 50px auto 100px auto;
          }

          input{
            padding: 5px 15px 5px 15px;
            border: none;
            border-bottom: 1.5px solid #b3aca7;
          }

          input, textarea {
            align-items: center;
            font-family: 'Lato', sans-serif;
            font-size: 22px;;
            width: 90%;
            height: 50px;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 5%;
            background: transparent;
            outline: none;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
          }

          input:hover, textarea:hover {
            background: #191C21;
            color: #85878A;
          }

          textarea {
            height: 110px;
            max-height: 110px;
            padding: 15px;
            resize: none;
          }

          #submit {
            border: 1.5px solid #b3aca7;
            width: 90%;
            padding: 15px;
            margin-left: 5%;
            margin-right: 5%;
            font-family: 'Lato', sans-serif;
            font-size: 0.875em;
            color: #b3aca7;
            outline:none;
            cursor: pointer;
          }

          #submit:hover {
            color: #e2dedb;
            background-color: #85878A;
          }
/*------------Footer-----------*/
          /*footer section*/
          footer{
            position: relative;
            padding: 10%
          }

          /* credit section*/

          .credits p {
            font-size: 16px;
            text-align: center;
          }


/*-------------Project page ------------*/

          /*project image*/
          .projectHero img{
            margin-top: 80px;
            height: 300px;
            width: 100%
          }

          /*project text*/

          #projectPageText{
          }

          #projectPageText p{
            position: relative;
            padding: 5%;
            color: #2F485A;
            font-size: 16px;
          }

          /*external link button*/

          .projectWebsite{
            text-align: center;
            width: 80%;
            border:2px solid #616264;
            display:inline-block;
            cursor:pointer;
            color:#616264;
            margin:10%;
            font-size:18px;
            padding:18px 50px;
            text-decoration:none;
          }
          .nextProject{
            text-align: right;
          }
