/*default styling */
        * {
          margin: 0px;
          font-family: 'Lato', sans-serif;
          box-sizing: border-box;

        }

        html{
          position: relative;
          height: 100%;
          min-height: 100%;

          }

        header{
          position: sticky;
          z-index: 1;
        }


/* Styling the menu button */
       .menu-btn {
           position: absolute;
           z-index: 3;
           right: 35px;
           top: 35px;
           cursor: pointer;
           transition: all 0.5s ease-out;
       }

       /* Styling the hamburger lines */
       .menu-btn .btn-line {
           width: 30px;
           height: 5px;
           margin: 0 0 5px 0;
           background: black;
           transition: all 0.5s ease-out;
       }

       /* Adding tranform to the X */
       .menu-btn.close {
           transform: rotate(180deg);
       }

       /* Styling the three lines to make it an X */
       .menu-btn.close .btn-line:nth-child(1) {
           transform: rotate(45deg) translate(5px, 5px);
       }

       .menu-btn.close .btn-line:nth-child(2) {
           opacity: 0;
       }

       .menu-btn.close .btn-line:nth-child(3) {
           transform: rotate(-45deg) translate(10px, -7.5px);
       }

       /* Styling the position of the menu icon */
       .menu {
           position: fixed;
           top: 0;
           width: 100%;
           visibility: hidden;
           transition: all 1s;
       }

       .menu ul {
           margin-top: 80px;
           display: block;
           padding: 14px 24px;
           text-decoration: none;
           font-size: 18px;
           list-style-type: none;
       }
       .menu ul li a {
         text-decoration: none;
       }

       .menu.show {
           visibility: visible;
           position: relative;
       }
        .nav-item{
          padding: 5px;
          font-size: 16px;
        }

/*--------styling menu desktop------------*/
        @media screen and (min-width: 780px) {

          .menu-btn {
            display: none;
          }

          .menu{

            visibility: visible;

          }
          .fp-viewing-secondSection header .menu, .fp-viewing-fourthSection header .menu {
            margin-left: 50%;
          }
          .menu ul{
            margin-top: 0px;
            display: flex;
          }
          .nav-item{
            padding: 15px;
            font-size: 18px;
          }
          .menu ul li a{
            color: #85878A;
          }
          .menu ul li a:hover{
            color:#2F485A;
          }
         }

        /*mobile style */
        .title-section {
          color: #2F485A;
          padding-top: 10%;
          padding-left: 10%;
          font-size: 45px;
          direction: initial;
        }

        hr {
          margin: 35px 0px 50px 10%;
          width: 15%;
          border: none;
          color: #2F485A;
          height: 5px;
          background-color: #2f485a;
        }

        /*mobile common styles*/
        #projects, #skills, #contact{
          margin-top: 20%;
        }

        .projects, .skills, .contact{
          padding: 5%;
        }

        .intro-text p, .projects-text, .skills-text, .Contact-text{
          margin-left: 5%;
          font-size: 20px;
        }
        /* mobile intro section*/

        .bg-intro {
          margin-top: 80px;
          background-image: url('images/blue-mountain.jpg');
          background-repeat:no-repeat;
          background-size: cover;
          width: 100%;
          height: 800px;
          background-position-x: -50px;
        }

        .intro-text {
          top: 20%;
          height: 60%;
          position: relative;
          background-color: white;
          margin: auto;
          width: 80%;
          padding: 10px;
        }
/*-----intro section desktop----*/
          @media screen and (min-width: 780px) {
            .bg-intro{
              display: grid;
              grid-template-columns: 1fr 1fr;
              background-position: 0px;
              margin-top: 0px;
            }

            .intro-text{
              top: 0%;
              height: 100%;
              width: 100%;
              padding-top: 30%;
            }

            .intro-text p, .projects-text, .skills-text/* .Contact-text*/ {
              padding-left: 5%;
              margin: 5%;
            }

/*--------common styles desktop------------*/
            #projects, #skills, #contact{
              margin-top: 0%;
            }

        }



/*------projects section--------*/


        /* project links*/
        .project-links{
          margin-top: 50%;
        }

        .projects-text{
          width:90%;
          position: absolute;
          padding-right: 10%;
        }


        .card {
        	 position: relative;
        	 overflow: hidden;
        	 padding: 1rem;
           height: 400px;
        	 width: 100%;
           display: block;
           text-decoration: none;
        }

        .card:before {
         content: '';
	       position: absolute;
	       top: 0;
	       left: 0;
      	 width: 100%;
      	 height: 100%;
      	 background-size: cover;
         background-position: center;
      }

         .card:nth-child(1):before, .project-Date {
           background-image: url(./images/IMG_5176.jpg);
           filter: grayscale(50%);

        }

         .card:nth-child(2):before  {
           background-image: url(./images/2020-10-08.png);

        }
         .card:nth-child(3):before, .project-Opticien {
           background-image: url(./images/grey.jpg);


        }
         .card:nth-child(4):before, .project-Fylo {
           background-image: url(./images/black_laptop.jpg);

        }

/*-----projects section desktop--------*/
        @media screen and (min-width: 780px) {
          .projectsSectionLinks{
            display: grid;
            grid-template-columns: 1fr 1fr;
          }
          .projects-text{
            direction: initial;
            position: inherit;
          }
          .project-links{
            background-color: black;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-top: 0px;
          }
          .project-links a{
            cursor: default;
          }
          .projects{
            padding-top: 30%;
            order:2;
          }

          .projects hr{
            margin-right: 75%;
          }
          .link1{
            grid-area: 1 / 1 / 4 / 4;
          }
          .link2{
            grid-area: 1 / 4 / 3 / 6;
          }
          .link3{
            grid-area: 3 / 3 / 6 / 6;
          }
          .link4{
            grid-area: 3 / 1 / 6 / 3;
          }

           .card {

             position: relative;
          	 display: flex;
          	 align-items: flex-end;
          	 overflow: hidden;
          	 padding: 1rem;
          	 width: 100%;
          	 text-align: center;
          	 color: white;
          	 background-color: whitesmoke;
          	 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
          }
          .card:before {
          	 content: '';
          	 position: absolute;
          	 top: 0;
          	 left: 0;
          	 width: 100%;
          	 height: 110%;
          	 background-size: cover;
          	 transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
          	 pointer-events: none;
          }
           .card:after {
          	 content: '';
          	 display: block;
          	 position: absolute;
          	 top: 0;
          	 left: 0;
          	 width: 100%;
          	 height: 200%;
          	 pointer-events: none;
          	 background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
          	 transform: translateY(-50%);
          	 transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
          }
          .content {
          	 position: relative;
          	 display: flex;
          	 flex-direction: column;
          	 align-items: center;
          	 width: 100%;
          	 padding: 1rem;
          	 transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
          	 z-index: 1;
          }

           .title {
          	 font-size: 1.3rem;
          	 font-weight: bold;
          	 line-height: 1.2;
          }
           .copy {
          	 font-size: 1.2rem;
          	 line-height: 1.35;
             padding-bottom: 30px;
          }
           .btn {
          	 cursor: pointer;
          	 margin-top: 1.5rem;
          	 padding: 0.75rem 0.5rem;
          	 font-size: 0.8rem;
          	 font-weight: bold;
          	 letter-spacing: 0.025rem;
          	 text-transform: uppercase;
          	 color: #85878A;
          	 border: none;
             background-color: transparent;
             text-decoration: none;
          }
          .btn:hover{
            color:white;
          }

          .card:after {
        		 transform: translateY(0);
        	}
        	 .content {
        		 transform: translateY(calc(100% - 4.5rem));
        	}
        	 .content > *:not(.title) {
        		 opacity: 0;
        		 transform: translateY(1rem);
        		 transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
        	}
        	 .card:hover, .card:focus-within {
        		 align-items: center;
        	}
        	 .card:hover:before, .card:focus-within:before {
        		 transform: translateY(-4%);
        	}
        	 .card:hover:after, .card:focus-within:after {
        		 transform: translateY(-50%);
        	}
        	 .card:hover .content, .card:focus-within .content {
        		 transform: translateY(0);
        	}
        	 .card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
        		 opacity: 1;
        		 transform: translateY(0);
        		 transition-delay: calc(700ms / 8);
        	}
        	 .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
        		 transition-duration: 0s;
        	}
        }

/*----------Skills section mobile-------------*/

        /*background image skills*/

        .bg-skills{
          padding-top: 15%;
          left: 0;
          position: relative;
          width: 100%;
          height: 800px;
          background-position: center;
          filter: blur(1.5px);
        }

        .map {
          position: relative;
          max-width: 1100px;
          margin: auto;
          background-color: transparent;
        }
        .map img {
          display: block;
          width: 100%;
        }

        .map-popup {
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 99;
          width: 60%;
          padding: 2rem;
          background-color: #fff;
          transition: all 300ms ease-in;
          transform: translate(-50%,-50%);
          box-shadow: 0 0 24px rgba(0,0,0,0.22);
          opacity: 0;
          visibility: hidden;
        }

        .map-popup.open {
          opacity: 1;
          visibility: visible;
        }

        .marker {
          position: absolute;
          z-index: 1;
          display: inline-block;
          width: 36px;
          height: 36px;
          color: #fff;
          line-height: 36px;
          text-align: center;
          text-decoration: none;
          border-radius: 50%;
          background-color: tomato;
          transition: all 300ms;
        }

        .marker1 {
          top: 30%;
          left: 20%;
        }
        .marker2 {
          top: 50%;
          left: 50%;
        }
        .marker3 {
          top: 30%;
          left:70%;
        }
        .marker4{
          top: 70%;
          left:30%;
        }
        @media only screen and (min-width:780px) {
          .map-item {
            position: absolute;
            width: 36px;
            height: 36px;
            }

          .map-item1 {
            top: 30%;
            left: 20%;
          }
          .map-item2 {
            top: 50%;
            left: 64%;
          }
          .map-item3 {
            top: 30%;
            left: 70%;
          }
          .map-item4{
            top:80%;
            left:30%;
          }

          .map-popup {
            position: absolute;
            left: 58px;
            width: 280px;
            transform: translateY(-50%);
          }
          .map-popup:before {
            content: "";
            position: absolute;
            top: 50%;
            left: -16px;
            margin-top: -16px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 16px 16px 16px 0;
            border-color: transparent #fff transparent transparent;
          }

          .map-popup.edge {
            left: auto;
            right: calc(100% + 24px);
          }
          .map-popup.edge:before {
            left: auto;
            right: -16px;
            border-width: 16px 0 16px 16px;
            border-color: transparent transparent transparent #fff;
          }
        }

/*-----skills section desktop--------*/

      @media screen and (min-width: 780px) {
          .skills-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
          }
          .bg-skills{
            padding-top: 0%;
            filter: blur(.5px);
          }
          .skills{
            padding-top: 30%;
          }
      }

/*------------Contact section -----------*/

          /* contact text*/

          .contact{
            position: relative;
          }

          .Contact-text{
            line-height: 40px;
          }

          .formTitle{
            color: #85878A;
            text-align: center;
            font-size: 30px;
            padding-bottom: 10%;
          }

          /* contact form */

          .bg-form{
            padding: 10% 0 5% 0;
            margin-top: 15%;
            position: relative;
            left: 0;
            right: 0;
            background-color: #191C21;
            font-size: 22px;
          }

          #form {
            align-items: center;
            position: relative;
            width: 100%;
            margin: 50px auto 100px auto;
          }

          input{
            padding: 5px 15px 5px 15px;
            border: none;
            border-bottom: 1.5px solid #85878A;
          }

          input, textarea {
            color: #85878A;
            align-items: center;
            font-family: 'Lato', sans-serif;
            font-size: 22px;;
            width: 90%;
            height: 50px;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 5%;
            background: transparent;
            outline: none;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
          }

          input:hover, textarea:hover {
            background: #191C21;
            color: #85878A;
          }

          textarea {
            height: 110px;
            max-height: 110px;
            padding: 15px;
            resize: none;
            border: none;
            border-bottom: 1.5px solid;
          }

          #submit {
            border: 1.5px solid #85878A;
            width: 90%;
            padding: 15px;
            margin-left: 5%;
            margin-right: 5%;
            font-family: 'Lato', sans-serif;
            font-size: 18px;
            color: #85878A;
            outline:none;
            cursor: pointer;
          }

          #submit:hover {
            color: #e2dedb;
            background-color: black;
          }
/*------------Footer-----------*/
      /*footer section*/
          footer{
            position: relative;
            padding: 10%
          }

      /* credit section*/

          .credits p {
            font-size: 16px;
            text-align: center;
          }

    /*desktop footer contact and inputform*/

          @media screen and (min-width: 780px) {

          .contact{
            margin-top: 0px;
          }

          .contactInput-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
          }
          .bg-form{
            margin-top: 0%;
          }

          .Contact-text{
            padding-left: 5%;
          }

          #contact{
            order:2;
          }

          footer{
            padding: 0%;
          }
          .credits p {
            color: #616264;
            background-color: #191C21;
            padding-bottom: 10px;
          }
          #submit{
            font-size: 0.875em;
            width: 50%;
          }
          #credits{
            display: grid;
            grid-template-columns: 1fr 1fr;
          }
          #form {
            margin: 90px auto 100px auto;
            width:75%;
          }



          }
/*-----------icons-----------------*/
          .fab{
            color: black;
            font-size: 1.7rem;
          }
          .padding-icons{
            padding-top:20%;
          }


/*-------------Project page ------------*/

          /*project image*/
          .projectHero {
            height: 300px;
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            width: 100%
          }

          /*project text*/

          #projectPageText p{
            position: relative;
            padding: 5%;
            color: #2F485A;
            font-size: 16px;
          }

          #projectPageText a{
            text-decoration: none;
          }
          #projectPageText a:hover{
            font-weight: bold;
          }

          /*external link button*/

          .projectWebsite{
            text-align: center;
            width: 80%;
            border:2px solid #616264;
            display:inline-block;
            cursor:pointer;
            color:#616264;
            margin:10%;
            font-size:18px;
            padding:18px 50px;
            text-decoration:none;
          }
          .nextProject{
            text-align: right;
          }

          /*image for hairdressing page*/

          .project-hairdressing {
            background-image: url(./images/jchair.jpg);
         }


      /*desktop project page grid*/
      @media screen and (min-width: 780px) {
          #projects-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;

          }
          #projectImg{
            padding-top: 0%;
            grid-area: 1/2;
          }
          .projectHero {
            background-position:left bottom;
            position: fixed;
            height: 100%;
            margin-top: 0px;
          }

          .project-credits p{
            background-color: white;

          }
          .projectWebsite{
            width: 50%;
          }

          .project-menu{
            background-color: white;
            width: 45%;
          }
          .project-Date{
            background-position: -150px;
          }



        }
